
{% block title %} produit donnee{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h3 class="text-dark mb-4">Produits</h3>
        <div class="card shadow">
            <div class="card-header py-3">


            </div>

            <div class="card-body">
                <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                    <table class="table my-0" id="dataTable">
                        <thead>
                        <tr>
                            <th>nomp</th>
                            <th class="text-start">prixp</th>
                            <th class="text-start">descp</th>
                            <th class="text-start">dispop</th>
                            <th class="text-start">couleurp</th>
                            <th class="text-start">quantitep</th>
                            <th class="text-start">taileep</th>
                            <th class="text-start">nomCP</th>
                            <th class="text-start">image</th>

                        </tr>
                        </thead>
                        <tbody>
                        {%  for produit in produits  %}

                            <tr>
                                <td>{{ produit.nomp }}</td>
                                <td>{{ produit.prixp }}</td>
                                <td>{{ produit.descp }}</td>
                                <td>{{ produit.dispop }}</td>
                                <td>{{ produit.couleurp }}</td>
                                <td>{{ produit.quantitep }}</td>
                                <td>{{ produit.taillep }}</td>
                                <td>{{ produit.categorieproduit.nomCP }}</td>
                                <td><img src="{{asset('/assets/img/')~ produit.image  }}"
                                         alt="" style="width: 350px; height: 250px"><hr></td>
                                <td class="text-center" style="width: 137.812px;height: 50px;">
                                    <div class="btn-group" role="group">






                                    </div>

                                    <a href="{{path("produit_data_download", {id: produit.idp})}}" class="btn btn-success">
                                        <i class="bi bi-cart-plus">telechargher</i>
                                    </a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="7"><h2>no records found</h2></td>
                            </tr>
                        {% endfor %}
                        </tbody>

                        <tfoot>
                        <tr></tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}