{% extends 'base.html.twig' %}


{% block body %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<table>
<tr>
    <th>ID</th>
    <th>Nom</th>
    <th>Date Début</th>
    <th>Date Fin</th>
    <th>Description</th>
</tr>
    <tr{% for e in evenement %}>
        <td>{{ e.idEvent }}</td>
        <td>{{ e.nomevent }}</td>
        <td>{{ e.datedebevent }}</td>
        <td>{{ e.datefinevent }}</td>
        <td>{{ e.descevent }}</td>
        <td></td>
    </tr{% endfor %}>

</table>
</body>
</html>
{% endblock %}