{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">
            <h3 class="mt-5 mb-5">Create Form</h3>

            <div class="col-md-6 offset-md-3">
                {{ form_start(form,{attr:{novalidate:'novalidate'}}) }}
                <div class="form-group" >
                    {{ form_label(form.nomjeux) }}
                    {{ form_widget(form.nomjeux,{'attr':{'class':'form-control'}})}}
                    {{ form_errors(form.nomjeux,{'attr':{'class':'text-danger'}})}}

                </div>
                <div class="form-group" >
                    {{ form_label(form.taillejeux) }}
                    {{ form_widget(form.taillejeux,{'attr':{'class':'form-control'}})}}
                    {{ form_errors(form.taillejeux,{'attr':{'class':'text-danger'}})}}

                </div>
                <div class="form-group" >
                    {{ form_label(form.descjeux) }}
                    {{ form_widget(form.descjeux,{'attr':{'class':'form-control'}})}}
                    {{ form_errors(form.descjeux,{'attr':{'class':'text-danger'}})}}

                </div>
                <div class="form-group" >
                    {{ form_label(form.platdispojeux) }}
                    {{ form_widget(form.platdispojeux,{'attr':{'class':'form-control'}})}}
                    {{ form_errors(form.platdispojeux,{'attr':{'class':'text-danger'}})}}

                </div>
                <div class="form-group" >
                    {{ form_label(form.conreqjeux) }}
                    {{ form_widget(form.conreqjeux,{'attr':{'class':'form-control'}})}}
                    {{ form_errors(form.conreqjeux,{'attr':{'class':'text-danger'}})}}

                </div>
                <div class="form-group" >
                    {{ form_label(form.imageJ) }}
                    {{ form_widget(form.imageJ,{'attr':{'class':'form-control'}})}}
                    {{ form_errors(form.imageJ,{'attr':{'class':'text-danger'}})}}

                </div>
                <div class="form-group" >
                    <button class="btn btn-info mt-2 text-white">Submit</button>
                </div>

                {{ form_end(form) }}

            </div>
        </div>
    </div>
{% endblock %}