{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">
            <h4 class="mt-5 mb-5">Create mise a jour</h4>

            <div class="col-md-6 offset-md-3">
                {{ form_start(form,{attr:{novalidate:'novalidate'}}) }}
                <div class="form-group" >
                    {{ form_label(form.nomjeu) }}
                    {{ form_widget(form.nomjeu,{'attr':{'class':'form-control'}})}}
                    {{ form_errors(form.nomjeu,{'attr':{'class':'text-danger'}})}}

                </div>

                <div class="form-group" >
                    {{ form_label(form.versionmise) }}
                    {{ form_widget(form.versionmise,{'attr':{'class':'form-control'}})}}
                    {{ form_errors(form.versionmise,{'attr':{'class':'text-danger'}})}}

                </div>
                <div class="form-group" >
                    {{ form_label(form.taillemise) }}
                    {{ form_widget(form.taillemise,{'attr':{'class':'form-control'}})}}
                    {{ form_errors(form.taillemise,{'attr':{'class':'text-danger'}})}}

                </div>
                <div class="form-group" >
                    {{ form_label(form.descmise) }}
                    {{ form_widget(form.descmise,{'attr':{'class':'form-control'}})}}
                    {{ form_errors(form.descmise,{'attr':{'class':'text-danger'}})}}

                </div>





                {{ form_end(form) }}
                <div class="form-group" >
                    <button class="btn btn-info mt-2 text-white">Submit</button>

                </div>
            </div>
        </div>
    </div>
{% endblock %}