{% extends 'base.html.twig' %}

{% block title %}Commande{% endblock %}

{% block body %}
    <h1>Commande</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Idc</th>
                <td>{{ commande.idc }}</td>
            </tr>
            <tr>
                <th>Adressec</th>
                <td>{{ commande.adressec }}</td>
            </tr>
            <tr>
                <th>Datec</th>
                <td>{{ commande.datec ? commande.datec|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Statusc</th>
                <td>{{ commande.statusc }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_commande_index') }}">back to list</a>

    <a href="{{ path('app_commande_edit', {'idc': commande.idc}) }}">edit</a>

    {{ include('commande/_delete_form.html.twig') }}
{% endblock %}
