<!doctype html>
<html lang="zxx">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>gaming</title>
    <link rel="icon" href="img/favicon.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- animate CSS -->
    <link rel="stylesheet" href="css/animate.css">
    <!-- owl carousel CSS -->
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="css/all.css">
    <!-- flaticon CSS -->
    <link rel="stylesheet" href="css/flaticon.css">
    <link rel="stylesheet" href="css/themify-icons.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="css/magnific-popup.css">
    <!-- swiper CSS -->
    <link rel="stylesheet" href="css/slick.css">
    <!-- style CSS -->
    <link rel="stylesheet" href="css/style.css">
</head>
{% block body %}
    <div class="body_bg">
    {% for message in app.flashes('notice') %}
        <div class="main_menu single_page_menu">
            {{ message }}
        </div>
    {% endfor %}
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
    <table class="columns", style="position: absolute; top: 100px; right: 400px">

        <thead class="thead-dark">
        <tr>
            <th scope="col">Nom</th>
            <th scope="col">date debut</th>
            <th scope="col">date fin</th>
            <th scope="col">Description</th>
        </tr>
        </thead>
        <tbody>
        {% for data in evenement %}
            <tr>
                <td>{{ data.nomevent }}</td>
                <td>{{ data.datedebevent|date('d/m/Y à h:i')}}</td>
                <td>{{ data.datefinevent|date('d/m/Y à h:i') }}</td>
                <td>{{ data.descevent }}</td>
            </tr>
        {% endfor %}
        <td><a class="btn btn-warning" href="{{path('display_frontadmin')}}">BACK</a></td>
        </tbody>
    </table>
    </div>
            </div>
        </div>
    </div>

{% endblock %}
</html>