{% extends 'basefront.html.twig' %}


{% block header %}
    <!--::header part start::-->
    <header class="main_menu single_page_menu">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <a class="navbar-brand" href="index.html"> <img src="img/TunEsportLogo.png" alt="logo"> </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="menu_icon"><i class="fas fa-bars"></i></span>
                        </button>

                        <div class="collapse navbar-collapse main-menu-item" id="navbarSupportedContent">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('display_frontadmin')}}">Events</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('display_frontcat')}}">Categories</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="team.html">team</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="blog.html" id="navbarDropdown"
                                       role="button" data-toggle="dropdown" aria-haspopup="true"
                                       aria-expanded="false">
                                        Blog
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="blog.html"> blog</a>
                                        <a class="dropdown-item" href="single-blog.html">Single blog</a>
                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="blog.html" id="navbarDropdown1"
                                       role="button" data-toggle="dropdown" aria-haspopup="true"
                                       aria-expanded="false">
                                        pages
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
                                        <a class="dropdown-item" href="elements.html">Elements</a>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="contact.html">Contact</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- Header part end-->
{% endblock %}

    {% block banner %}
        <!-- banner part start-->
        <section class="banner_part">
            <div class="container">
                <h4><b></b></h4>
            </div>
        </section>
        <!-- banner part start-->
    {% endblock %}

{% block body %}
    <style>
        .card {
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            transition: 0.3s;
            width: 40%;
            background-color: rgba(0,0,0,0.2);
        }


        .card:hover {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        }

        .container {
            padding: 2px 16px;
        }
    </style>
<h2>Events</h2>
<div class="row">
    {% for data in evenement %}
    <div class="col-sm-4">
        <h4><b></b></h4>
<div class="card" style="width:400px">
        <div class="card-body">
            <h4><b>Title : {{ data.nomevent}}</b></h4>
            <div class="blog-thumb ">
                <img src="{{ asset('uploads/' ~ data.imageE) }}"
                     alt="" width="400" height="383">
            </div>
    <div class="container">
        <h5><b>Date début : {{ data.datedebevent ? data.datedebevent|date('Y-m-d') : '' }}</b></h5>
        <h5><b>Date Fin : {{ data.datefinevent ? data.datefinevent|date('Y-m-d') : '' }}</b></h5>
        <h5><b>Categorie de l'evenement : {{ data.descevent}}</b></h5>
    </div>
        </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}

 {% block clientlogo %}
 {% endblock %}
 {% block about_us %}
 {% endblock %}
{% block about %}
{% endblock %}
{% block use_sasu%}
{% endblock %}
{% block use_sasu_2 %}
{% endblock %}
 {% block pricing %}
 {% endblock %}
 {% block footer %}
     <!--::footer_part start::-->
     <footer class="footer_part">
         <div class="footer_top">
             <div class="container">
                 <div class="row">
                     <div class="col-sm-6 col-lg-3">
                         <div class="single_footer_part">
                             <a href="index.html" class="footer_logo_iner"> <img src="img/TunEsportLogo.png" alt="#"> </a>
                             <p>Heaven fruitful doesn't over lesser days appear creeping seasons so behold bearing
                                 days
                                 open
                             </p>
                         </div>
                     </div>
                     <div class="col-sm-6 col-lg-3">
                         <div class="single_footer_part">
                             <h4>Contact Info</h4>
                             <p>Address : Your address goes
                                 here, your demo address.
                                 Bangladesh.</p>
                             <p>Phone : +8880 44338899</p>
                             <p>Email : info@colorlib.com</p>
                         </div>
                     </div>
                     <div class="col-sm-6 col-lg-3">
                         <div class="single_footer_part">
                             <h4>Important Link</h4>
                             <ul class="list-unstyled">
                                 <li><a href=""> WHMCS-bridge</a></li>
                                 <li><a href="">Search Domain</a></li>
                                 <li><a href="">My Account</a></li>
                                 <li><a href="">Shopping Cart</a></li>
                                 <li><a href="">Our Shop</a></li>
                             </ul>
                         </div>
                     </div>
                     <div class="col-sm-6 col-lg-3">
                         <div class="single_footer_part">
                             <h4>Newsletter</h4>
                             <p>Heaven fruitful doesn't over lesser in days. Appear creeping seasons deve behold
                                 bearing
                                 days
                                 open
                             </p>
                             <div id="mc_embed_signup">
                                 <form target="_blank"
                                       action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                                       method="get" class="subscribe_form relative mail_part">
                                     <input type="email" name="email" id="newsletter-form-email"
                                            placeholder="Email Address" class="placeholder hide-on-focus"
                                            onfocus="this.placeholder = ''"
                                            onblur="this.placeholder = ' Email Address '">
                                     <button type="submit" name="submit" id="newsletter-submit"
                                             class="email_icon newsletter-submit button-contactForm"><i
                                                 class="far fa-paper-plane"></i></button>
                                     <div class="mt-10 info"></div>
                                 </form>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
         <div class="copygight_text">
             <div class="container">
                 <div class="row align-items-center">
                     <div class="col-lg-8">
                         <div class="copyright_text">
                             <P><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                 Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="ti-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                                 <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></P>
                         </div>
                     </div>
                     <div class="col-lg-4">
                         <div class="footer_icon social_icon">
                             <ul class="list-unstyled">
                                 <li><a href="#" class="single_social_icon"><i class="fab fa-facebook-f"></i></a>
                                 </li>
                                 <li><a href="#" class="single_social_icon"><i class="fab fa-twitter"></i></a></li>
                                 <li><a href="#" class="single_social_icon"><i class="fas fa-globe"></i></a></li>
                                 <li><a href="#" class="single_social_icon"><i class="fab fa-behance"></i></a></li>
                             </ul>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
     </footer>
     <!--::footer_part end::-->
 {% endblock %}