{{ form_start(form) }}
    {{ form_row(form.nicknamecoa) }}
    {{ form_row(form.rankcoa) }}
    {{ form_row(form.gamecoa) }}
    {{ form_row(form.descoa) }}
    {{ form_row(form.imagecoa) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
