{% extends 'base.html.twig' %}

{% block title %}Coaching Table{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    <div class="container-fluid">
        <h3 class="text-dark mb-4">Coaches</h3>
        <div class="card shadow">
            <div class="card-header py-3">
                <p class="text-primary m-0 fw-bold" style="margin: 11px;margin-bottom: 32px;">Coaches Info</p>
                <a href="{{ path('app_coaching_new') }}">
                <button class="btn btn-primary" type="button" style="background: var(--bs-green);margin-top: 10px;">Create new <i class="fas fa-user-plus"></i></button>
                </a>
            </div>

            <div class="card-body">
                <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                    <table class="table my-0" id="dataTable">
                        <thead>
                        <tr>
                            <th>Nickname</th>
                            <th class="text-start">Rank</th>
                            <th class="text-start">Game</th>
                            <th class="text-start">Description</th>
                            <th class="text-start">Category</th>
                            <th class="text-center">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {%  for coaching in coachings %}
                        <tr>
                            <td><img class="rounded-circle me-2" width="30" height="30" src={{ asset("assets/img/avatars/avatar5.jpeg") }}>{{ coaching.nicknamecoa }}</td>
                            <td>{{ coaching.rankcoa }}</td>
                            <td>{{ coaching.game.nomjeux }}</td>
                            <td>{{ coaching.descoa }}</td>
                            <td>{{ coaching.category.nameCat }}</td>
                            <td class="text-center" style="width: 137.812px;height: 50px;">
                                <div class="btn-group" role="group">
                                    <a href="{{ path('app_coaching_show', {'idcoa': coaching.idcoa}) }}">
                                    <button class="btn btn-primary" type="button"style="margin-right: 5px"><i class="far fa-check-circle"></i></button>
                                    </a>
                                    <a href="{{ path('app_coaching_edit', {'idcoa': coaching.idcoa}) }}">
                                    <button class="btn btn-primary" type="button"><i class="far fa-edit"></i></button>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        {% else %}
                            <tr>
                                <td colspan="7"><h2>no records found</h2></td>
                            </tr>
                        {% endfor %}
                        </tbody>

                        <tfoot>
                        <tr></tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
