<!doctype html>
<html lang="zxx">

<head>
    {% block stylesheets %}

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>gaming</title>
    <link rel="icon" href="img/favicon.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- animate CSS -->
    <link rel="stylesheet" href="css/animate.css">
    <!-- owl carousel CSS -->
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="css/all.css">
    <!-- flaticon CSS -->
    <link rel="stylesheet" href="css/flaticon.css">
    <link rel="stylesheet" href="css/themify-icons.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="css/magnific-popup.css">
    <!-- swiper CSS -->
    <link rel="stylesheet" href="css/slick.css">
    <!-- style CSS -->
    <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="{{ asset('bundles/mercuryseriesflashy/css/flashy.css') }}">
    {% endblock %}
</head>

<body>
<div class="body_bg">
    <!--::header part start::-->
    {% block header %}

    <header class="main_menu single_page_menu">
        <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700' rel='stylesheet'>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <a class="navbar-brand" href="index.html"> <img src="img/tune.png" alt="logo"> </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="menu_icon"><i class="fas fa-bars"></i></span>
                        </button>

                        <div class="collapse navbar-collapse main-menu-item" id="navbarSupportedContent">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                </li>
                                <li class="nav-item">
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="team.html">tournaments</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="blog.html" id="navbarDropdown"
                                       role="button" data-toggle="dropdown" aria-haspopup="true"
                                       aria-expanded="false">
                                        Blog
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="blog.html"> blog</a>
                                        <a class="dropdown-item" href="single-blog.html">Single blog</a>
                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="blog.html" id="navbarDropdown1"
                                       role="button" data-toggle="dropdown" aria-haspopup="true"
                                       aria-expanded="false">
                                        pages
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
                                        <a class="dropdown-item" href="elements.html">Elements</a>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="contact.html">Contact</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- Header part end-->
    {% endblock %}
{% block body %}


    <!DOCTYPE html>
    <html lang="en">

    <section class="blog-section spad">
        <div class="container">
            <div class="row">
                <div class="col-xl-9 col-lg-8 col-md-7">
                    <div class="section-title text-white">
                        <h2>Latest News</h2>
                    </div>
                    <ul class="blog-filter">

                    </ul>
                    {% for data in jeux %}
                        <div class="search-result-card">
                            <div class="header">

                            </div><div class="body">
                                <div class="user-details ">
                                    <div class="img ">
                                    </div>
                                    <div class="name -break text-white">
                                        <h3>{{ data.nomjeux }} </h3>
                                    </div>
                                </div>
                                <ul class="list-details">
                                    <li>
                                        <i class="icon fa fa-gamepad bg-white">
                                        </i>
                                        <span class="text text-white">{{ data.descjeux }}</span>
                                    </li><li><i class="icon fa fa-users bg-white">
                                        </i><span class="text text-white ">{{ data.platdispojeux }}</span></li><li>
                                        <i class="icon fa fa-calendar bg-white"></i><span class="text text-white">{{ data.datesortjeux ? data.datesortjeux|date('Y-m-d') : '' }}</span>
                                    </li>
                                </ul>
                            </div></div>
                    {% endfor %}

                </div>
                <div class="col-xl-3 col-lg-4 col-md-5 sidebar">
                    <div id="stickySidebar">
                        <div class="widget-item">
                            <h4 class="widget-title">Trending</h4>
                            <div class="trending-widget">
                                <div class="tw-item">
                                    <div class="tw-thumb">
                                        <img src="{{ asset('front/./img/blog-widget/1.jpg') }}" alt="#">
                                    </div>
                                    <div class="tw-text">
                                        <div class="tw-meta">11.11.18  /  in <a href="">Games</a></div>
                                        <h5>The best online game is out now!</h5>
                                    </div>
                                </div>
                                <div class="tw-item">
                                    <div class="tw-thumb">
                                        <img src="{{ asset('front/./img/blog-widget/2.jpg') }}" alt="#">
                                    </div>
                                    <div class="tw-text">
                                        <div class="tw-meta">11.11.18  /  in <a href="">Games</a></div>
                                        <h5>The best online game is out now!</h5>
                                    </div>
                                </div>
                                <div class="tw-item">
                                    <div class="tw-thumb">
                                        <img src="{{ asset('front/./img/blog-widget/3.jpg') }}" alt="#">
                                    </div>
                                    <div class="tw-text">
                                        <div class="tw-meta">11.11.18  /  in <a href="">Games</a></div>
                                        <h5>The best online game is out now!</h5>
                                    </div>
                                </div>
                                <div class="tw-item">
                                    <div class="tw-thumb">
                                        <img src="{{ asset('front/./img/blog-widget/4.jpg') }}" alt="#">
                                    </div>
                                    <div class="tw-text">
                                        <div class="tw-meta">11.11.18  /  in <a href="">Games</a></div>
                                        <h5>The best online game is out now!</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="widget-item">
                            <div class="categories-widget">
                                <h4 class="widget-title">categories</h4>
                                <ul>
                                    <li><a href="">Games</a></li>
                                    <li><a href="">Gaming Tips & Tricks</a></li>
                                    <li><a href="">Online Games</a></li>
                                    <li><a href="">Team Games</a></li>
                                    <li><a href="">Community</a></li>
                                    <li><a href="">Uncategorized</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="widget-item">
                            <a href="#" class="add">
                                <img src="{{ asset('front/./img/add.jpg') }}" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    </html>





{% endblock %}



</div>

{% block javascripts %}
<!-- jquery plugins here-->
<script src="js/jquery-1.12.1.min.js"></script>
    <script src="//code.jquery.com/jquery.js"></script>
<!-- popper js -->
<script src="js/popper.min.js"></script>
<!-- bootstrap js -->
<script src="js/bootstrap.min.js"></script>
<!-- easing js -->
<script src="js/jquery.magnific-popup.js"></script>
<!-- swiper js -->
<script src="js/swiper.min.js"></script>
<!-- swiper js -->
<script src="js/masonry.pkgd.js"></script>
<!-- particles js -->
<script src="js/owl.carousel.min.js"></script>
<script src="js/jquery.nice-select.min.js"></script>
<!-- slick js -->
<script src="js/slick.min.js"></script>
<script src="js/jquery.counterup.min.js"></script>
<script src="js/waypoints.min.js"></script>
<script src="js/contact.js"></script>
<script src="js/jquery.ajaxchimp.min.js"></script>
<script src="js/jquery.form.js"></script>
<script src="js/jquery.validate.min.js"></script>
<script src="js/mail-script.js"></script>
<!-- custom js -->
<script src="js/custom.js"></script>
    <script src="{{ asset('bundles/mercuryseriesflashy/js/flashy.js') }}"></script>
{% endblock %}

{{ include('@MercurySeriesFlashy/flashy.html.twig') }}
</body>

</html>