{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">
            <h3 class="mt-5 mb-5">Create Form</h3>

            <div class="col-md-6 offset-md-3">
                {{ form_start(form,{attr:{novalidate:'novalidate'}}) }}
                <div class="form-group" >
                    {{ form_label(form.nomcat) }}
                    {{ form_widget(form.nomcat,{'attr':{'class':'form-control'}})}}
                    {{ form_errors(form.nomcat,{'attr':{'class':'text-danger'}})}}
                </div>
                <div class="form-group" >
                    {{ form_label(form.descat) }}
                    {{ form_widget(form.descat,{'attr':{'class':'form-control'}})}}
                    {{ form_errors(form.descat,{'attr':{'class':'text-danger'}})}}

                </div>
                <div class="form-group" >
                    <button class="btn btn-info mt-2 text-white">Submit</button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}