{% extends 'base.html.twig' %}

{% block title %}Article index
{% endblock %}

{% block body %}

	<div class='container pt-5 pb-5'>
		<div class='pb-5 pt-5' style='display:flex; justify-content:end;'>
			<button class='btn btn-primary '>
				<a href="{{ path('app_article_new') }}" style="color:white">Create new</a>
			</button>
		</div>
		<table class="table ">
			<thead class="table-primary">
				<tr>
					<th>IdArticle</th>
					<th>TitreArticle</th>
					<th>DescriptionArticle</th>
					<th>DateArticle</th>
					<th>ImageArticle</th>
					<th>actions</th>
				</tr>
			</thead>
			<tbody>
				{% for article in articles %}
					<tr>
						<td>{{ article.idArticle }}</td>
						<td>{{ article.titreArticle }}</td>
						<td>{{ article.descriptionArticle }}</td>
						<td>{{ article.dateArticle ? article.dateArticle|date('Y-m-d') : '' }}</td>
						<td>{{ article.imageArticle }}</td>
						<td>
							<button class="btn btn-info">
								<a href="{{ path('app_article_show', {'idArticle': article.idArticle}) }}" style="color:white; ">show</a>
							</button>
							<button class="btn btn-info">
								<a href="{{ path('app_article_edit', {'idArticle': article.idArticle}) }}" style="color:white;">edit</a>
							</button>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="6">no records found</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

{% endblock %}
